.route-cont{

    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.plan-route-cont{
display:flex;
flex-direction:column;
width: 300px;
border:1px solid black;

}
.comp-route-cont{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 650px;


}

.plan-card-cont{
    border: 1px solid black;

}

.comp-card-cont{
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.route-img-cont{
    display:flex;
    flex-direction: row;
    justify-content: space-around;


}

.route-card-cont{
    border: 1px solid gray;
    flex-direction: column;
    display: flex;
    width: 300px;
    margin-top:10px;



}

.route-card-header, .route-cont-header{
    display:flex;
    justify-content: center;

}

.route-cont-header{
    font-size:2.5em;
    padding: 20px 0 20px 0;
}

.route-btn-cont {
display: flex;
flex-direction: row;
justify-content: space-around;
padding-top:10px;
margin-top: auto;
border: 1px solid gray;


}

.route-name-details-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    padding-left: 15px;

}

.route-detail-subheadings{
    font-weight: bold;
}

.route-detail-mile{
    font-style: italic;
    color: gray;

}
.route-detail-bullets{
    padding-left: 15px;
}

.error-message{
    font-weight: bold;
    color: red;
}

.details-body-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    margin-top: 10px;
}

.route-text-detail-cont{
    padding-top:10px;
    flex-direction: column;
    margin-left: 10px;
    display: flex;
    width: 600px;
    height:400px;
    overflow-y: scroll;
    padding-left: 10px;
    border: 1px solid gray;
}

.route-card-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid gray;

}

.route-marker{
    align-self: center;

}

.route-details-img-cont{
    width:500px;
    height: 400px;
    position: relative;

}

.route-details-btn-cont{
    display:flex;
    justify-content: center;
    margin-top: 15px;



}