.home-container{
display:flex;
flex: row;

}


.home-sidebar{
    background: gray;
    width:15%;



}
.home-body{
width:70%;
padding-left: 20px;

}



.home-page-title {
    font-size: 3em;
    padding-top:20px;
    padding-bottom: 20px;
    color: red;
}

