:root {
    --card-bg-color: #f9f8fd;
    --main-header-color: #7dce94;
    --main-border-color: #d3cfc5;
    --border-shadow-color: #e9e7e2;
    --card-text-color: #3d3d3F;
    --header-text-color: #f6f5f3;
    --selected-color: #4682B4;
    --darker-green-text-color:#235c33;
    --primary:#4682B4;
    --success:#46b967;
    --warning:#ffff66;
    --danger:#ff4d4d;
  }

.home-container{
    margin-left:20px;
    margin-top: 15px;
display:flex;
flex: row;

}

.p-button-success{
    background-color: var(--success) !important

}

.p-button-primary{
    background-color: var(--primary) !important
}

.p-button-danger{
    background-color: var(--danger) !important

}

.p-button-warning{
    background-color: var(--warning) !important

}


.home-sidebar{
    background: var(--main-header-color);
    width:15%;



}
.home-body{
    border: 1px solid var(--main-border-color);


width:70%;
padding-left: 20px;

}



.home-page-title {
    font-size: 3em;
    padding-top:20px;
    padding-bottom: 20px;
    color: var(--darker-green-text-color)
}

