.exp-dd-cont{

    margin: 10px;
    display: flex;
    flex-direction: column;

}

.exp-dd{
margin-top: 20px;

}

.exp-dd-foot{
    margin-top: 20px;


}

.exp-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.exp-left, .exp-right{
    border: 1px solid black
}

.exp-left{
margin: 0 20px 0 20px;
width: 350px;
}

.exp-msg{
    color: red;
    font-weight: bold;

}

.exp-right{
    position: relative;
    width: 500px;
    height: 500px;

}

.exp-title{
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
}