:root {
    --card-bg-color: #f9f8fd;
    --main-header-color: #7dce94;
    --main-border-color: #d3cfc5;
    --border-shadow-color: #e9e7e2;
    --card-text-color: #3d3d3F;
    --header-text-color: #f6f5f3;
    --darker-green-text-color:#235c33;
  }

  .exp-title{
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
    background: var(--main-header-color);
    color: var(--header-text-color);
}

.exp-page-cont{
    display:flex;
    flex-direction: column;
    margin-left:20px;
    border: 1px solid var(--main-border-color);
    margin-top: 15px;
    width: 85%;
    background-color: var(--card-bg-color);
}

.exp-dd-cont{
    display: flex;
    flex-direction: column;

}

.exp-dd{
    margin-top: 15px;
    margin-bottom: 15px;


}

.exp-dd-foot{
    margin-top: 10px;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--card-text-color);


}

.exp-mileage{
    margin-top:15px;
    font-weight: bold;
    color: var(--darker-green-text-color);
    font-style: italic;

}
.p-inputgroup{
}

.map-search{
    margin-top:15px;


}

.exp-dd-submit-btn-cont{
    display: flex;
    flex-direction: row;
}
.exp-dd-submit-btn{
    margin: 15px 0 15px 0;
}

.exp-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.exp-left{
    margin: 0 20px 0 20px;
    width: 450px;
}

.exp-msg{
    color: red;
    font-weight: bold;
    margin-left: 20px;
    margin-top:auto;
    margin-bottom: auto;

}

.exp-right{
    margin-top:15px;
    position: relative;
    width: 600px;
    height: 500px;

}

.map-container{

    width: 600px;
    height: 500px;

}

