:root {
    --card-bg-color: #f9f8fd;
    --main-header-color: #7dce94;
    --main-border-color: #d3cfc5;
    --border-shadow-color: #e9e7e2;
    --card-text-color: #3d3d3F;
    --header-text-color: #f6f5f3;
    --darker-green-text-color:#235c33;
  }

  .exp-title{
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
    background: var(--main-header-color);
    color: var(--header-text-color);
}

.exp-page-cont{
    display:flex;
    flex-direction: column;
    margin-left:20px;
    border: 1px solid var(--main-border-color);
    margin-top: 15px;
    width: 80vw;
}

.exp-dd-cont{
    /* border: 1px solid red; */
margin-top:10px;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.exp-dd{
margin-top: 20px;
margin-bottom: 20px;
background: red;
}

.exp-dd-foot{
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    color: var(--card-text-color);

}

.exp-dd-submit-btn-cont{
display: flex;
flex-direction: row;
/* border: 1px solid red; */
}
.exp-dd-submit-btn{
margin: 15px 0 15px 0;
border: red;
}

.exp-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.exp-left, .exp-right{
}

.exp-left{
margin: 0 20px 0 20px;
width: 350px;
}

.exp-msg{
    color: red;
    font-weight: bold;
    margin-left: 20px;

}

.exp-right{
    position: relative;
    width: 500px;
    height: 500px;

}

